<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Birthday:</b>
  <%= @user.birthday %>
</p>

<p>
  <b>Height in cm:</b>
  <%= @user.height_in_cm %>
</p>

<p>
  <b>Weight in kg:</b>
  <%= @user.weight_in_kg %>
</p>

<p>
  <b>Gender:</b>
  <%= @user.gender %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
